body {
  font-family: 'Poppins', sans-serif;
}
.welcome-section {
  text-align: center;
  font-size: larger;
  padding-top: 80px; 
}

.complaint-registration-section
{
  text-align: center;
  font-size: larger;
}

